---
import Layout from '~/layouts/LandingLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Content from '~/components/widgets/Content.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Stats from '~/components/widgets/Stats.astro';

const metadata = {
  title: 'thumbnails',
};
---

<style>
  .image-collage {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr)); /* Default: 3 columns */
      gap: 20px; /* Increase the gap between images */
      padding: 0; /* Add padding to the sides of the image collage */
  }

  .image-wrapper {
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      margin: 0; 
  }

  .image-wrapper:hover {
      transform: scale(1.03);
      transition: transform 0.4s ease;
  }

  .image-wrapper img {
      width: 100%;
      height: auto;
      display: block;
      transition: transform 0.3s ease;
  }

  .image-wrapper:hover img {
      transform: scale(1.05);
  }

  /* Media query for mobile devices */
  @media (max-width: 600px) {
      .image-collage {
          grid-template-columns: repeat(2, minmax(0, 1fr)); /* 2 columns for mobile */
      }
  }
</style>

<Layout metadata={metadata}>
  <Hero
    id="features"
    actions={[
      {
        variant: 'primary',
        text: "CONTACT ME",
        href: '#form',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">
      I make
      <span class="text-accent dark:text-white highlight">Thumbnails</span>.
    </Fragment>

    <Fragment slot="subtitle">
      Level up your channel with thumbnails that demand clicks and captivate your audience from the get-go. Let's ditch the cookie-cutter approach and create visuals that speak volumes about your content. Elevate your YouTube game and leave a lasting impression with thumbnails that truly stand out.
    </Fragment>

    <Fragment slot="image">
    <div class="image-collage">
      <div class="image-wrapper">
        <img src="https://i.ytimg.com/vi/TCkrTrqLHew/maxresdefault.jpg" alt="Image 1">
      </div>
      <div class="image-wrapper">
        <img src="https://i.ytimg.com/vi/qEXPB09hVSc/maxresdefault.jpg" alt="Image 2">
      </div>
      <div class="image-wrapper">
        <img src="https://i.ytimg.com/vi/rfY3xi_IasU/maxresdefault.jpg" alt="Image 3">
      </div>
      <div class="image-wrapper">
        <img src="https://i.ytimg.com/vi/Fgd_Z-7cDiw/maxresdefault.jpg" alt="Image 1">
      </div>
      <div class="image-wrapper">
        <img src="https://i.ytimg.com/vi/SPUtAxvXOa8/maxresdefault.jpg" alt="Image 2">
      </div>
      <div class="image-wrapper">
        <img src="https://i.imgur.com/5iKpfCy.png" alt="Image 3">
      </div>
    </div>
  </Fragment>
  </Hero>

  <Content 
  id="about"

  image={{
    src: 'https://i.imgur.com/zfYNQGQ.jpeg',
    alt: 'Colorful Image',
    loading: 'eager',
  }}
>
  <Fragment slot="content">
    <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
    <p class=>
      Hey there! I'm Gleasn, and I've been crafting stunning thumbnails for YouTubers and Twitch streamers for over 3 years. During this time, I've had the pleasure of working with some of the most incredible content creators, helping them boost their engagement and grow their channels.
    </p>
    <br />
    <p>
      Creating thumbnails isn't just a job for me – it's a passion. I take immense pride in finding the most effective way to package your content into a visually appealing, click-worthy thumbnail. I understand the importance of that first impression and strive to make sure your video gets the attention it deserves.
    </p>
  </Fragment>



  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>

  <Stats
  stats={[
    { title: 'Thumbnails Made', amount: '400+' },
    { title: 'Happy Clients', amount: '30+' },
    { title: 'Views Generated', amount: '60M+' },
  ]}>
  </Stats>

  <Testimonials
    title="Words from real clients"
    testimonials={[
      {
        testimonial: `Gleasn is absolutely crazy with the thumbnails and goes above and beyond. He takes direction perfectly and is quick with the turnaround. Highly recommend this guy`,
        name: 'Jimmy Here',
        job: 'Reaction YouTuber | 1.61M subscribers',
        image: {
          src: 'https://yt3.googleusercontent.com/ytc/AIdro_lBDbSREnbLJdEpxrfTWuqfCWhi4M80_TOalqpDL9gn2G5J=s900-c-k-c0x00ffffff-no-rj',
          alt: 'Jimmy Image',
        },
      },
      {
        testimonial: `Gleasn is consistently improving and very flexible and adaptive as YouTube continues to evolve. Very quick work with high quality. I highly recommend him as an editor`,
        name: 'Simply',
        job: 'Gaming YouTuber | 164K subscribers',
        image: {
          src: 'https://yt3.googleusercontent.com/ytc/AIdro_lcRexex2XImdf9TnVItarJU6xyScvBFKZDYW-nt1UQ4Q=s160-c-k-c0x00ffffff-no-rj',
          alt: 'Simply Image',
        },
      },
      {
        testimonial: `Gleasn is basically the goat. Easy to work with and super chill. Might be the greatest thumbnail guy on the planet to be honest...`,
        name: 'Cake Hoarder',
        job: 'Retro Reseller YouTuber | 442K subscribers',
        image: {
          src: 'https://yt3.googleusercontent.com/qOAldn58YQxsznhAEx0NA_Vfn_BYX5vozn0M1xalgKvQCww4LRnW2-7wrMCaLpFKJHn2JoNNqt8=s160-c-k-c0x00ffffff-no-rj',
          alt: 'Cake Hoarder Image',
        },
      },
    ]}
  />

  <ContactUs
  id="form"
  title="Drop me a message today!"
  subtitle="Let's work together to make your videos shine. Whether you're a seasoned creator or just starting out, I'm here to help you achieve your goals with top-notch thumbnails that deliver results."
  inputs={[
    {
      type: 'text',
      name: 'name',
      label: 'Name',
    },
    {
      type: 'email',
      name: 'email',
      label: 'Email',
    },
  ]}
  textarea={{
    label: 'Message',
  }}
  description="I will typically respond within 24 business hours."
  >
  </ContactUs>
</Layout>